force-app/main/default/flows/Loyality_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Duplicate_Exists</name>
        <label>If Duplicate Exists</label>
        <locationX>469</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Create_Loyalityv1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Duplicate_Existsv1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_the_Loyality_with_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Messege_2</targetReference>
            </connector>
            <label>If Duplicate Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Loyality Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyality Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loyalityv1</name>
        <label>Create Loyality</label>
        <locationX>712</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Success_Messege</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Amount__c</field>
            <value>
                <elementReference>Sales_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Loyality_Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_the_Loyality_with_Name</name>
        <label>Fetch the Loyality with Name</label>
        <locationX>324</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Duplicate_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loyality_Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Loyality</name>
        <label>Create Loyality</label>
        <locationX>181</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fetch_the_Loyality_with_Name</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sales_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Sales Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Messege_2</name>
        <label>Duplicate Messege 2</label>
        <locationX>706</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Duplicate_Messege_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;{!Name} Duplicate Name Exists!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Messege</name>
        <label>Success Messege</label>
        <locationX>867</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 20px; color: rgb(150, 20, 20);&quot;&gt;{!Name} Record is Cre&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ated Successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>16</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Create_Loyality</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
