force-app/main/default/flows/Quote_Create_Sent_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Quote Create/Sent Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Create/Sent Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createPDF</name>
        <label>createPDF</label>
        <locationX>611</locationX>
        <locationY>391</locationY>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template</field>
            <value>
                <stringValue>0EH5j000000yyFI</stringValue>
            </value>
        </inputAssignments>
        <object>QuoteDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuote</name>
        <label>CreateQuote</label>
        <locationX>298</locationX>
        <locationY>404</locationY>
        <assignRecordIdToReference>QuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>createPDF</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test Quotation </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CreateQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>quoteTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
